*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background: rgb(70, 42, 11);
    font-family: sans-serif, '  Trebuchet MS';
}

.container{
    width: 300px;
    height: 500px;
    margin: 60px auto;
    margin-left: 1000px;
}

.card{
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0 , 0, 0, 0.3)

}
 
.card-head{
    position: relative;
    height: 252px;
    background: #fa782e;
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83% );
    border-radius: 25px 25px 0 0;
}

.card-logo{
    width: 55px;
    margin: 20px;
}

.product-img{
    position: absolute;
    left: 0;
    margin-top: -16px;
    margin-left: 50px;
}

.product-detail{
    padding: 0 20px;
    font-size: 11px;
    color: white;

}

.product-detail h2{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.back-text{
    display: inline-block;
    font-size: 125px;
    font-weight: 900;
    margin-left: -7px;
    margin-top: -12px;
    opacity: 0.1;
}
.card-body{
    height: 255px;
    background: white;
    border-radius: 0 0 25px 25px;

}

.product-title{
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product-title b{
    font-weight: 900;
    letter-spacing: 0px;
}

.badge{
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: white;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
}

.product-caption{
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-rating{
    padding: 0 20px;
    font-size: 11px;
}

.product-rating i.grey{
    color: #acacab;
}

.product-size h4{
    font-size: 11px;
    padding: 0 21px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.ul-size{
    margin-left: 15px;

}

.ul-size li{
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-size li a{
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    color: black;
}

.ul-size li a.active{
    background: #f35e3d;
    color: #fff;
}

.product-size:before, .product-size:after{
    content: '';
    display: block;
    clear: both;
}

.product-color h4{
    font-size: 11px;
    padding: 0 21px;
    margin-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.ul-color{
    margin-left: 27px;
}

.ul-color li{
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-color li a{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.ul-color li a.orange{
    background: #f35e3d; 
}

.ul-color li a.green{
    background: #11e95b; 
}


.ul-color li a.yellow{
    background: #ffd414; 
}


.ul-color li a.active:after{
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid #f35e3d;
    width: 24px;
    height: 24px; 
    border-radius: 100%;
    margin-left: -5px;
    margin-top: -5px;  
}

.product-price{
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: white;
    border-radius: 7px;
    margin-top: -13px;
    margin-left:-5px;
    box-shadow: -10px 20px 15px -10px rgba( 17,233,91,0.3);
}

.product-price{
    margin-left: 5px; 
}

    