*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background:lightgrey;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.container{
    width: 300px;
    height: 520px;
    margin: 60px auto;
    margin-left: 500px;
    
}
.card{
    border-radius: 25px;

}

.card-head{
    position: relative;
    height: 260px;
    background: #fa782e;
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83% );
    border-radius: 25px 25px 0 0;
}
.product-detail{
    padding: 5px 25px;
    font-family: arial;
    font-size: 12px;
    color: white;
}
.product-detail h2{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;    
}

.back-text{
    font-size: 135px;
    font-weight: 900;
    display: inline-block;
    font-family: sans-serif;
    margin-left: -30px;
    margin-top: -15px;
    opacity: 0.1;
}

.card-body{
    height:260px;
    background: white;
    border-radius: 0 0 25px 25px;
}

.product-title{
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
.product-title b{
    font-weight: 900;
}
.badge{
    position: relative;
    padding: 2px 5px;
    color: white;
    background: #11e95b;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
}

.product-caption{
    display: block;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
.product-size h4{
    font-size: 11px;
    padding: 0 21px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.ul-size{
    margin-left: 18px;
}

.ul-size li{
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-size li a{
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    text-align: center;
    line-height: 23px;
    color: black;
}

.ul-size li a.active{
    background: #f35e3d;
    color: #fff;
}

.product-size:before, .product-size:after{
    content:'';
    display: block;
    clear: both;
}

.product-color h4{
    font-size: 11px;
    padding: 0 21px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.ul-color{
    margin-left: 27px;
}

.ul-color li{
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-color li a{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.ul-color li a.orange{
    background: #f35e3d;
}
.ul-color li a.green{
    background: #11e95b;
}
.ul-color li a.yellow{
    background: #ffd414;
}

.ul-color li a.active:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #f35e3d;
    border-radius: 100%;
    margin-left: -6px;
    margin-top: -6px;  
}

.product-price{
    position: absolute;
    background: #11e95b;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: 200px;
    margin-top: 28px;
    box-shadow: -10px 20px 15px -10px rgba( 17,233,91,0.3);
}
.product-price{
    margin-left: 28px;
}
